
body{
    color: alicebluebackground: rgb(15,15,218);
    background: linear-gradient(90deg, rgba(15,15,218,1) 14%, rgba(23,121,207,1) 89%);;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Inconsolata', monospace;
}
.container{
    display: flex;
align-items: center;
justify-content: center;
}
.container-form{
    margin-top: 10%;
}
input, select{
    height: 40px;
}
input{
    width: 400px;
}
select{
    width: 200px;
}
.container-result{
    margin-top: 5%;
}
.submit-btn{
    width: 50px;
    margin: -5px;
}
.submit-icon{
    font-size: 20px;

}
.todo-item{
    background-color: white;
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.todo-title{
    display: inline-block;
}
.todo-icon{
    font-size: 33px;
    padding:  15px;
    color: white;
}
.todo-check{
    background-color: rgb(37, 49, 141);
    margin-right: -4px;

}
.todo-delet{
    background-color: rebeccapurple;

}

.complete-todo{
    opacity: .6;
    text-decoration: line-through;
}

.remove-todo{
    display: none;
}